<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.backendUser.BackendUserMapper">
	<select id="findUser" resultType="BackendUser">
		select * from backend_user
		where userCode=#{userCode}
	</select>
</mapper>
